## Part 1: Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [2]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [3]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [4]:
# Create a list of at least 10 column names to use as X data
X_columns = ['Education', 'Age', 'DistanceFromHome', 'JobSatisfaction', 'OverTime', 'StockOptionLevel', 'WorkLifeBalance', 'YearsAtCompany', 'YearsSinceLastPromotion', 'NumCompaniesWorked']

# Create X_df using your selected columns
X_df = attrition_df[X_columns]

# Show the data types for X_df
print(X_df.dtypes)

Education                   int64
Age                         int64
DistanceFromHome            int64
JobSatisfaction             int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
NumCompaniesWorked          int64
dtype: object

In [5]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, random_state=1)

In [6]:
X_train

,Education,Age,DistanceFromHome,JobSatisfaction,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
464,3,37,1,4,No,0,4,6,1,4
512,4,27,3,4,No,0,3,4,1,0
480,4,30,12,1,No,1,4,1,0,1
680,4,36,7,4,No,0,3,6,0,2
1023,2,56,1,1,No,1,4,3,1,2
...,...,...,...,...,...,...,...,...,...,...
715,4,33,1,2,Yes,1,3,6,1,1
905,3,29,1,4,No,2,2,7,1,3
1096,2,40,6,4,Yes,0,3,21,7,1
235,3,43,16,4,Yes,1,3,17,1,5
1061,2,24,13,2,No,1,3,1,0,1

In [7]:
X_train['OverTime'].value_counts()

OverTime
No     798
Yes    304
Name: count, dtype: int64

In [8]:
# Convert your X data to numeric data types however you see fit
X_train_encoded = pd.get_dummies(X_train, columns=['OverTime'], dtype = 'int')
X_train_encoded.head()

,Education,Age,DistanceFromHome,JobSatisfaction,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked,OverTime_No,OverTime_Yes
464,3,37,1,4,0,4,6,1,4,1,0
512,4,27,3,4,0,3,4,1,0,1,0
480,4,30,12,1,1,4,1,0,1,1,0
680,4,36,7,4,0,3,6,0,2,1,0
1023,2,56,1,1,1,4,3,1,2,1,0

In [9]:
X_train_encoded['OverTime_No'].value_counts()

OverTime_No
1    798
0    304
Name: count, dtype: int64

In [10]:
X_test['OverTime'].value_counts()

OverTime
No     256
Yes    112
Name: count, dtype: int64

In [11]:
X_test_encoded = pd.get_dummies(X_test, columns=['OverTime'], dtype = 'int')
X_test_encoded.head()

,Education,Age,DistanceFromHome,JobSatisfaction,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked,OverTime_No,OverTime_Yes
1291,4,37,10,1,0,1,10,0,1,1,0
1153,2,18,3,4,0,4,0,0,1,0,1
720,3,30,22,3,0,3,5,0,4,0,1
763,4,34,10,3,1,3,1,0,1,0,1
976,3,56,23,2,1,3,19,15,4,0,1

In [12]:
X_test_encoded['OverTime_No'].value_counts()

OverTime_No
1    256
0    112
Name: count, dtype: int64

In [13]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
scaler.fit(X_train_encoded)

# Scale the training and testing data
X_train_scaled = scaler.transform(X_train_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

In [14]:
# Create a OneHotEncoder for the Department column
department_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_train_department_encoded = department_encoder.fit_transform(y_train[['Department']])
y_test_department_encoded = department_encoder.transform(y_test[['Department']])

# Create three new variables by applying the encoder
# to the training and testing data
y_columns = department_encoder.get_feature_names_out(['Department'])
y_train_department_encoded_df = pd.DataFrame(y_train_department_encoded, columns=y_columns)
y_test_department_encoded_df = pd.DataFrame(y_test_department_encoded, columns=y_columns)

In [15]:
# Create a OneHotEncoder for the Attrition column
attrition_encoder = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_train_attrition_encoded = attrition_encoder.fit_transform(y_train[['Attrition']])
y_test_attrition_encoded = attrition_encoder.transform(y_test[['Attrition']])

# Create two new variables by applying the encoder
# to the training and testing data
y_columns = attrition_encoder.get_feature_names_out(['Attrition'])
y_train_attrition_encoded_df = pd.DataFrame(y_train_attrition_encoded, columns=y_columns)
y_test_attrition_encoded_df = pd.DataFrame(y_test_attrition_encoded, columns=y_columns)

## Create, Compile, and Train the Model

In [16]:
# Find the number of columns in the X training data
X_training_data_cols = X_train_scaled.shape[1]

from tensorflow.keras import layers, models, Model
# Create the input layer
input_layer = layers.Input(shape=(X_training_data_cols,), name='input_layer')

# Create at least two shared layers
dense_shared1 = layers.Dense(64, activation='relu')(input_layer)
dense_shared2 = layers.Dense(64, activation='relu')(dense_shared1)
dense_shared3 = layers.Dense(10, activation='relu')(dense_shared2)

In [17]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_dense = layers.Dense(64, activation='relu')(dense_shared3)

# Create the output layer
department_output = layers.Dense(len(y_train_department_encoded_df.columns),
                             activation='softmax',
                             name='department_output')(department_dense)

In [18]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_dense = layers.Dense(64, activation='relu')(dense_shared3)

# Create the output layer
attrition_output = layers.Dense(len(y_train_attrition_encoded_df.columns),
                             activation='sigmoid',
                             name='attrition_output')(attrition_dense)

In [19]:
# Create the model
model = Model(inputs=input_layer, outputs=[
    department_output,
    attrition_output
])

# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy',
                    'attrition_output': 'categorical_crossentropy'},
              metrics={'department_output': 'accuracy',
                       'attrition_output': 'accuracy'})

# Summarize the model
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                  ┃ Output Shape              ┃         Param # ┃ Connected to               ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
│ input_layer (InputLayer)      │ (None, 11)                │               0 │ -                          │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense (Dense)                 │ (None, 64)                │             768 │ input_layer[0][0]          │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_1 (Dense)               │ (None, 64)                │           4,160 │ dense[0][0]                │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_2 (Dense)               │ (None, 10)                │             650 │ dense_1[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_3 (Dense)               │ (None, 64)                │             704 │ dense_2[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_4 (Dense)               │ (None, 64)                │             704 │ dense_2[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ department_output (Dense)     │ (None, 3)                 │             195 │ dense_3[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ attrition_output (Dense)      │ (None, 2)                 │             130 │ dense_4[0][0]              │
└───────────────────────────────┴───────────────────────────┴─────────────────┴────────────────────────────┘

 Total params: 7,311 (28.56 KB)

 Trainable params: 7,311 (28.56 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Train the model
model.fit(
    X_train_scaled,
    {
        'department_output': y_train_department_encoded_df,
        'attrition_output': y_train_attrition_encoded_df
    },
    epochs=10,  # You can adjust the number of epochs based on your needs
    batch_size=32,  # You can adjust the batch size based on your available memory
    validation_split=0.2  # You can specify the validation split if you have a separate validation set
)

Epoch 1/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 2s 22ms/step - attrition_output_accuracy: 0.8438 - department_output_accuracy: 0.5675 - loss: 1.6163 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 1.3729
Epoch 2/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8444 - department_output_accuracy: 0.6833 - loss: 1.2019 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 1.3153
Epoch 3/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8625 - department_output_accuracy: 0.6533 - loss: 1.1742 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 1.3257
Epoch 4/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - attrition_output_accuracy: 0.8515 - department_output_accuracy: 0.6551 - loss: 1.1585 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 1.3128
Epoch 5/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8678 - department_output_accuracy: 0.6482 - loss: 1.1407 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 1.3143
Epoch 6/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8646 - department_output_accuracy: 0.6532 - loss: 1.0914 - val_attrition_output_accuracy: 0.8281 - val_department_output_accuracy: 0.6335 - val_loss: 1.3041
Epoch 7/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8555 - department_output_accuracy: 0.6752 - loss: 1.0763 - val_attrition_output_accuracy: 0.8235 - val_department_output_accuracy: 0.6335 - val_loss: 1.2989
Epoch 8/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8742 - department_output_accuracy: 0.6660 - loss: 1.0648 - val_attrition_output_accuracy: 0.8326 - val_department_output_accuracy: 0.6335 - val_loss: 1.3199
Epoch 9/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8720 - department_output_accuracy: 0.6749 - loss: 1.0495 - val_attrition_output_accuracy: 0.8235 - val_department_output_accuracy: 0.6335 - val_loss: 1.3234
Epoch 10/10
28/28 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8916 - department_output_accuracy: 0.6638 - loss: 1.0385 - val_attrition_output_accuracy: 0.8235 - val_department_output_accuracy: 0.6290 - val_loss: 1.3385

In [21]:
# Evaluate the model with the testing data
results = model.evaluate(np.array(X_test_scaled), {
        'department_output': y_test_department_encoded_df,
        'attrition_output': y_test_attrition_encoded_df
    })

12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - attrition_output_accuracy: 0.8105 - department_output_accuracy: 0.6282 - loss: 1.2920

In [22]:
# Print the accuracy for both department and attrition
pred_categories = ['attrition', 'department']
for i, cat in enumerate(pred_categories):
    print(f"{cat} accuracy: {results[i+1]}")

attrition accuracy: 0.8260869383811951
department accuracy: 0.6385869383811951

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. Yes, accuracy is the best metric to use on this data. As HR wants to predict which employees are likely to leave the company, the accuracy of the attrition model is important as various follow-up activities are initiated based on the prediction. Similarly, accuracy of department model is also important so that HR can (re)assign individuals to department which is a better fit for their skill set.
2. The activation function used on the department output layer is softmax as there are more than two values for the target. The softmax activation function is a generalization of logistic regression that can be used for multi-class classification. The softmax function can be used in a classifier only when the classes are mutually exclusive. The activation function used for the attrition output layer is sigmoid as it has two values. It is commonly used for models where we have to predict the probability as an output. Since probability of anything exists only between the range of 0 and 1, sigmoid is the right choice because of its range.
3. The few ways this model can be imporved are:
- more data points (more rows)
- features like "performance review" and "survey feedback" might play a bigger role in improving output accuracy
- opportunity to compare this model's accuracy with output from other similary sized company in same industry